<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Todo web application</title>
        <link rel="stylesheet" href="index.css"></link>
    </head>
    <body>
        <div id="todo-app">
            <div>
                <input type="button" value="全部标记为已完成" />
                <input type="text" placeholder="添加todo" v-model="newTodoTitle" @keyup.enter="addTodo" :style="{'border-color':inputBorder}"/>
                <span v-if="emptyContent" style="color:red">请输入内容</span>
            </div>
            <ul>
                <li v-for="todo in todos" :key='todo.id'>
                    <span  :class="{completed: todo.completed}">{{todo.title}}</span>
                    <input type="button" value="标记为未完成" v-if="todo.completed" @click="markAsUncompleted(todo)"/>
                    <input type="button" value="标记为已完成" @click="markAsCompleted(todo)" v-else/>
                    <input type="button" value="删除事项" @click="deleteTodo(todo)"/>
                    <input type="text" placeholder="编辑 todo..." />
                </li>
            </ul>
            <div>
                <span>剩余 3 项未完成 ---</span>
                <span>筛选：
                    <input type="button" value="全部">
                    <input type="button" value="进行中">
                    <input type="button" value="已完成">
                    <input type="button" value="清除已完成">
                    <input type="button" value="清除全部">
                </span>
            </div>
        </div>
        <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>